<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.townshaw.blog.mapper.ArticleMapper">

    <sql id="FIELDS">
        article_id, author, title, stem, create_time, update_time
    </sql>

    <resultMap id="articleResultMap" type="ArticleDO">
        <result property="articleId" column="article_id" />
    </resultMap>

    <parameterMap id="articleParamMap" type="ArticleDO">
        <parameter property="articleId" javaType="String" />
    </parameterMap>

    <insert id="insert" parameterMap="articleParamMap">
        INSERT INTO Article(article_id, author, title, stem) VALUES (#{articleId}, #{author}, #{title}, #{stem})
    </insert>

    <update id="updateById" parameterMap="articleParamMap">
        UPDATE Article
        <set>
            <if test="author != null">
                author = #{author}
            </if>
        </set>
        WHERE article_id = #{articleId}
    </update>

    <delete id="deleteById" parameterType="String">
        DELETE FROM Article
        WHERE article_id = #{articleId}
    </delete>
    
    <select id="selectById" parameterType="String" resultMap="articleResultMap">
        SELECT
            <include refid="FIELDS" />
        FROM Article
        WHERE article_id = #{articleId}
    </select>

    <insert id="addTagToArticle">
        INSERT INTO ArticleTagRel
        <set>
            article_id = #{articleId}
            tag_id = #{tagId}
        </set>
    </insert>

    <select id="selectByAuthor" parameterType="String" resultMap="articleResultMap">
        SELECT
        <include refid="FIELDS" />
        FROM Article
        WHERE author = #{author}
    </select>

    <select id="selectByIds" resultMap="articleResultMap">
        SELECT
            <include refid="FIELDS" />
        FROM Article
        WHERE article_id IN
        <foreach item="articleId" collection="articleIds" separator="," open="(" close=")" index="">
            #{articleId}
        </foreach>
    </select>

    <select id="getArticleTags" resultMap="articleResultMap">
        SELECT tag_id FROM ArticleTagRel
        WHERE article_id = #{articleId}
    </select>
</mapper>