<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.townshaw.blog.mapper.TagMapper">

    <sql id="FIELDS">
        tag_id, tag_name, create_time, update_time
    </sql>

    <resultMap id="tagResultMap" type="TagDO">
        <result property="tagId" column="tag_id" />
        <result property="tagName" column="tag_name" />
    </resultMap>

    <parameterMap id="tagParamMap" type="TagDO">
        <parameter property="tagId" javaType="String" />
        <parameter property="tagName" javaType="String" />
    </parameterMap>

    <insert id="insert" parameterMap="tagParamMap">
        INSERT INTO Tag(tag_id, tag_name) VALUES (#{tagId}, #{tagName})
    </insert>

    <update id="updateById" parameterMap="tagParamMap">
        UPDATE Tag
        <set>
            <if test="name != null">
                tagName = #{tagName}
            </if>
        </set>
        WHERE tag_id = #{tagId}
    </update>

    <delete id="deleteById" parameterType="String">
        DELETE FROM Tag
        WHERE tag_id = #{tagId}
    </delete>

    <select id="selectById" parameterType="String" resultMap="tagResultMap">
        SELECT
        <include refid="FIELDS" />
        FROM Tag
        WHERE tag_id = #{tagId}
    </select>

    <select id="selectByName" parameterType="String" resultMap="tagResultMap">
        SELECT
        <include refid="FIELDS" />
        FROM Tag
        WHERE tag_name = #{tagName}
    </select>

    <select id="selectByIds" resultMap="TagMap">
        SELECT
        <include refid="FIELDS" />
        FROM Tag
        WHERE tag_id IN
        <foreach item="tagId" collection="tagIds" separator="," open="(" close=")" index="">
            #{tagId}
        </foreach>
    </select>
</mapper>